body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(238, 183, 183);
    }

.board {
    display: grid ;
    grid-template: repeat(3, .33fr)/ repeat(3, .33fr);
    width: 550px;
    height: 550px;  
    
}

h2 {
    visibility: hidden;
}

.boardSpace {
    border: 1px solid black; 
    font-size: 80px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    visibility: hidden;
}

.boardSpace:hover {
    background-color: rgb(240, 139, 139);
}
.heading {
    border-bottom: 20px solid rgb(197, 73, 73);
    font-size: 60px ;;
}
.buttons {
    display: flex;
    margin-top: 20px;
    gap: 20px ;
}

.start, 
.reset {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    height: 50px;
    width: 90px;
    background-color: rgb(197, 73, 73);
  
}

button:hover {
    background-color: rgb(240, 147, 147);
}